@mixin tablet() {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

@mixin mob() {
  @media (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin container {
  width: calc(100% - 80px);
  max-width: 1040px;
  margin: 0 auto;

  @include mob() {
    width: calc(100% - 48px);
  }
}
