$breakpoint-xs: 425px;
$breakpoint-sm: 767px;
$breakpoint-md: 990px;
$breakpoint-lg: 1280px;

$white: #FFFFFF;
$main: #00B0F0;

:export {
  BREAKPOINT_XS: $breakpoint-xs;
  BREAKPOINT_SM: $breakpoint-sm;
  BREAKPOINT_MD: $breakpoint-md;
  BREAKPOINT_LG: $breakpoint-lg;
}
